@use "/src/styles/colors.scss" as *;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins';
  color: #14183F;

}

label,
table,
button {
  font-family: 'Poppins';
  font-style: normal;
}

/* -------------------------------------------------------------------------scroll------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(169, 169, 169);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

/* .mat-dialog-container {
    background: #2b82d4 !important;
  } */

/* -------- */


// --------------------------------------------------------------------menu-----------------------
.mat-menu-panel {

  overflow: hidden !important;
  border-radius: 10px !important;
  padding: 0 !important;

  .mat-menu-content:not(:empty) {
    padding: 0;
  }
}

// --------------------------------------------------------------badge position----------------------
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -7px;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -7px;
}

// -----------radio button
.mat-radio-outer-circle {
  border-color: gray;
}

.mat-radio-button {
  margin-right: 15px;
  font-weight: 500;
  font-size: 14px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $main-color
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $main-color;

}

//----------------------------------------- expansion panel----------------------------------------

.mat-accordion {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .mat-expansion-panel {

    background-color: #f6f6f6;
    border-radius: 6px !important;
    box-shadow: none;

    .mat-expansion-panel-header {
      padding: 0 20px 0 10px;

      .mat-expansion-panel-header-title {
        gap: 10px;
        margin: 0;

        label {
          cursor: pointer;
        }
      }
    }

    .mat-expansion-panel-header.mat-expanded:focus {
      background-color: $main-color;
      color: white !important;
    }

    .mat-expansion-panel-header.mat-expanded {
      background-color: $main-color;

      label {
        color: white;
      }

      &:hover {
        background-color: $main-color;
        color: white;
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
      background-color: white;
    }
  }

  @media only screen and (max-width: 800px) {
    .mat-expansion-panel {
      .mat-expansion-panel-header {
        height: 50px !important;
      }
    }
  }


}

// --------------------------------------------ngx date time input------------------------------------------
.ngx-mat-datetime-picker {


  .mat-form-field {
    display: flex !important;
    align-items: center;
    cursor: pointer;

    .mat-form-field-wrapper {
      width: 100%;
      padding-bottom: 0;

      .mat-form-field-flex {
        align-items: center;
        gap: 5px;

        .mat-form-field-infix {
          border: none;
          width: 100%;
          color: $font-color;
          display: flex;
          flex-direction: column;
          gap: 3px;

          label {
            font-weight: 600;
            cursor: pointer;
          }

          span {
            font-size: 13px;
          }
        }

        .mat-datepicker-toggle {
          color: $font-color;

          .mat-icon-button {
            width: 25px;
            height: 25px;

            .mat-datepicker-toggle-default-icon {
              width: 1.5rem;
            }
          }
        }
      }
    }
  }
}

// ----------------------------Date Input----------------------------

.date-input {


  .mat-form-field {

    .mat-form-field-wrapper {

      .mat-form-field-infix {
        display: flex;
        padding: 0 !important;
        border: none;
      }

      .mat-form-field-label-wrapper {
        top: -2px;
      }
    }
  }


}


// -----------------------------------------------------------select input------------------------------
.mat-form-field {
  background-color: #f6f6f6;
  padding: 6px;
  box-sizing: border-box;
  height: 50px;
  border-radius: 6px;
  font-family: 'Poppins' !important;
  font-style: normal;
  color: #14183F;



  .mat-form-field-wrapper {
    padding: 0;

    .mat-form-field-infix {
      width: 100%;
    }

  }
}

.mat-select-value-text {
  font-family: 'Poppins';
  font-style: normal;
  color: #14183F;
}

.mat-form-field-appearance-fill {

  .mat-form-field-flex {
    padding: 0 !important;
    background-color: transparent;
  }

}

.mat-form-field-underline {
  height: 0 !important;
  width: 0 !important;
}

.mat-option {
  font-family: 'Poppins';
  font-style: normal;
  color: #14183F;

  .complete_icon_black {
    margin-right: 10px;
  }
}

/* mat option old sleected value color */
.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $main-color;
}

.mat-option.mat-active {
  color: $main-color;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $main-color;
}

.mat-toolbar.mat-primary {
  background-color: $main-color;
}

.mat-dialog-actions .mat-button-base+.mat-button-base,
.mat-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base {
  background-color: $main-color;
  color: white
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: white;
}


// ----------calendar

// calendar
.mat-datepicker-content {
  border-radius: 6px !important;


  .mat-calendar-body-selected {
    background-color: $main-color !important;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: $main-color-opacity;
    color: white;
  }

  .mat-stroked-button {
    background-color: $main-color;
    color: white;
  }

  .ngx-mat-timepicker {
    width: 150px !important;
    display: flex;
    justify-content: center;

    form {
      min-width: 150px;

      table {
        width: 150px;

        .mat-form-field {

          width: 40px !important;
          max-width: 40px !important;
          height: 40px;
          font-family: 'Poppins';
          font-style: normal;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .mat-form-field-wrapper {
            padding: 0;


            .mat-form-field-infix {
              padding: 0;
              border: none;
            }
          }
        }

        .mat-icon-button .mat-icon {
          &:hover {
            background-color: $main-color-opacity;
            color: white;
            border-radius: 50%;
          }

          &:active {
            background-color: $main-color;
            color: white;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

// mat tab
.mat-tab-label {
  height: 30px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $main-color;
}


//------------------------------mat-table------------------------
.mat-table {
  font-family: 'Poppins';
  overflow: hidden;
  border-radius: 6px;


  @media only screen and (max-width: 800px) {

    thead,
    tbody,
    tfoot,
    mat-header-row,
    mat-row,
    mat-footer-row,
    [mat-header-row],
    [mat-row],
    [mat-footer-row],
    .mat-table-sticky {
      font-size: 14px;
      color: $font-color;
    }

    .mat-elevation-z8 {
      box-shadow: none;

    }

    tr.mat-header-row,
    tr.mat-row {
      height: 35px !important;
    }
  }
}