@import '../../../styles/colors.scss';

.complete-dialog-box .mat-dialog-container{
    padding: 0;
    border-radius: 10px;

    .complete-container {

        height: 20rem;
        width: 40rem;
        background-color: #f6f6f6;
        padding: 25px;
        border-radius: 10px;

        .container {
            display: grid;
            place-items: center;
            background-color: white;
            height: 100%;
            border-radius: 6px;
            padding: 20px;
            height: calc(100% - 40px);

            .contain {
                display: flex;
                flex-direction: column;
                gap: 25px;
                justify-content: center;
                align-items: center;
                height: 240px;
                img{
                    width: 7rem;
                }

                label {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                }

                .mat-button {
                    width: 11rem;
                    height: 3rem;
                    color: white;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    background-color: $main-color;
                    border-radius: 6px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;


                }

            }
        }
    }

    @media only screen and (max-width: 800px) {
        .complete-container {
        width: 250px;
        height: 280px;

        img{
            height: 70px;
            width: 70px;
        }
        }
    }
}