@import '../../../../styles/colors.scss';

.find-place-container {
    background-color: #f6f6f6;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    width: 20rem;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        cursor: move;

        img {
            cursor: pointer;
        }
    }

    hr {
        width: 100%;
        border-color: #D9D9D9;
        margin: 0;
    }

    .body {
        padding: 20px;
        background-color: #f6f6f6;
        border-radius: 10px;

        .inputs-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: white;
            padding: 20px;
            border-radius: 6px;



            input {
                height: 2rem;
                border-radius: 6px;
                border: none;
                outline: none;
                font-size: 1rem;
                padding: 0.5rem;
                background-color: #f6f6f6;
            }



            .button-container {
                margin-top: 10px;
                display: flex;
                gap: 20px;
                justify-content: center;

                button {
                    width: 100%;
                    height: 3rem;
                    transition: all 400ms;


                    &:first-child {
                        background-color: transparent;
                        border: 2px solid $second-color;
                        color: $second-color;

                        &:hover {
                            background-color: $second-color;
                            color: white;
                        }

                    }

                    &:last-child {
                        background-color: $main-color;
                        color: white;

                        &:hover {
                            background-color: #1e958f;
                        }

                        &:disabled {
                            background-color: lightgray;
                        }
                    }
                }
            }
        }
    }


    @media all and (min-width: 19in) {
        width: 29rem;
        .header { 
            padding: 25px;
        }

        .body{
            padding: 25px;
        }

    }

    .mat-raised-button:not([class*=mat-elevation-z]){
        box-shadow: none;
    }
    
}