<div class="reset-password-container">
    <div class="header">
        <label>{{'reset_password'|translate}}</label>
        <img src="../../../assets/images/close_icon_black.svg" alt="" title="Bağla" (click)="closeWindow()">
    </div>
    <hr>
    <div class="body">
        <form [formGroup]="passwordForm">

            <div class="inputs-container">
                <div class="input-contain">
                    <label>{{'current_password'|translate}}</label>
                    <div class="password-input">
                        <input [placeholder]="'enter_old_password'|translate" formControlName="oldPassword"
                            type="password" id="password">
                        <img id="eyeicon" src="../../../../assets/images/visible.png">
                    </div>
                </div>
                <div class="input-contain">
                    <label>{{'new_password'|translate}}</label>
                    <input type="password" [placeholder]="'enter_new_password'|translate" formControlName="newPassword">
                </div>
                <div class="input-contain">
                    <label>{{'confirm_password'|translate}}</label>
                    <input type="password" [placeholder]="'confirm_password'|translate"  formControlName="confirmPassword">
                </div>

                <div class="button-contain">
                    <button mat-button (click)="clickButton()">Yenilə</button>
                </div>
            </div>
        </form>
    </div>
</div>